codecov: true
language: julia

os:
  - linux

env:
  global:
    - PGHOST=localhost
    - PGPORT=5432
    - POSTGRESQL_VERSION=12

before_install:
  - docker run --name libpqjl-postgresql -e POSTGRES_HOST_AUTH_METHOD=trust -p $PGPORT:5432 -d postgres:$POSTGRESQL_VERSION-alpine

julia:
#  - nightly # currently failing due to https://github.com/JuliaData/CSV.jl/issues/744
  - 1.5

allow_failures:
  - julia: nightly
